Oscar-Cerna-P0/Models/Customer.cs
Oscar-Cerna-P0/Models/Item Properties.cs
Oscar-Cerna-P0/Models/Models.cs
Oscar-Cerna-P0/Models/Orders.cs
Oscar-Cerna-P0/StoreModels/Customers.cs
Oscar-Cerna-P0/StoreModels/Order.cs
Oscar-Cerna-P0/StoreModels/StoreModels.csproj
Oscar-Cerna-P0/UI/Program.cs
Oscar-Cerna-P0/UI/UI.cs
Oscar-Cerna-P0/UI/UI.csproj
C#Fundamentals/HelloWorld/Collection.cs
C#Fundamentals/HelloWorld/House.cs
C#Fundamentals/HelloWorld/Program.cs
C#Fundamentals/.vscode/launch.json
C#Fundamentals/.vscode/tasks.json
